
h1 The BookStore


form(action='addData' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Add


form(action='deleteData' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Delete


form(action='updateData' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Update


form(action='searchData' method='get')
	button(id="addbutton" value="button" onclick="return validate()")
		h3 Search